body {
    background: #283c86;  /* fallback for old browsers */
    background: linear-gradient(141deg, #869BD8, #283C86 30%, #4E4E8A 48%, #379B9B 65%, #41B774 85%, #45A247);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.hidden {
    display: none;
}

.member-card {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.member-name {
    text-align: center;
}

#content {
    max-width: 90%;
}

.member-image {
    width: 256px;
    height: 256px;
    display: block;
    font-size: 5000%;
}
.member-card {
    background: #000000;  /* fallback for old browsers */
    background: linear-gradient(180deg, #cecdcd, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 0px solid black;
    border-radius: 1%;
    min-width: 285px;
}

.anchor {
    display: block;
    height: 50px; /*same height as header*/
    visibility: hidden;
}

.member-text {
    font-size: 125%;
    text-indent: 10%;
}
.member-role {
    font-size: 150%;
    font-weight: 100;
}

#whatWeDo p,
#whatWeDo li,
#whyWeDo p,
#whyWeDo li {
    font-size: 175%;
    font-weight: 100;
}
#whatWeDo p,
#whyWeDo p {
    text-indent: 5%;
}

footer p {
    margin-top: 10px;
    font-size: 150%;
    font-weight: 100;
}

a {
    color: yellow;
}

code {
    color: white;
}

.navbar-logo {
    width: 32px;
    height: 32px;
}

.navbar-brand {
    font-weight: 300;
}